<!DOCTYPE html>
<html ng-app="minder_home">
<head>
	<title>Minder Home</title>

	<!-- AngularJS -->
	<script src="./angular/angular.min.js"></script>

	<!-- Firebase -->
	<script src="firebase/firebase.js"></script>

	<!-- AngularFire -->
	<script src="./angularfire/dist/angularfire.min.js"></script>
  <link href="public/css/bootstrap.css" type="text/css">
</head>


<body ng-controller="home">
  <div id="sigin-panel">
    <form  >
      <h1> Đăng nhập hệ thống</h1>
      <div  >
        <label for="mUsername" >Tên tài khoản</label>
        <div >
          <input type="text"  id="mUsername" placeholder="Username">
        </div>
      </div>
      <div  >
        <label for="mPassword3" >Mật khẩu</label>
        <div >
          <input type="password" id="mPassword3" placeholder="********">
        </div>
      </div>
      <div >
        <div  >
          <button type="submit" ng-click="signinWithMinder()">Đăng Nhập</button>

        </div>
      </div>
    </form>
    <button ng-click="signinWithFacebook()">Đăng nhập bằng tài khoản Facebook</button>
    <button ng-click="signinWithGoogle()">Đăng nhập bằng tài khoản Google</button>
    <!--<button ng-click="signinWithMinder()">Signin With Minder Account</button>-->
    <a href="public/view/Register.html"> Đăng kí tài khoản mới</a>
  </div>
  <div id="signed">{{user}}</div>
</body>
<script src="https://www.gstatic.com/firebasejs/3.1.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyADlBUrIcfA6B4PeXEAtO1Boriqg-s1k3Y",
    authDomain: "minder-807f1.firebaseapp.com",
    databaseURL: "https://minder-807f1.firebaseio.com",
    storageBucket: "minder-807f1.appspot.com",
  };
  firebase.initializeApp(config);
</script>
 <script src="./js/header.js"></script>
</html>