<form>
  <h1> Đăng kí tài khoản mới</h1>
  <div >
    <label for="New_username">Tên tài khoản</label>
    <div >
      <input type="text"   id="New_username" placeholder="Tên tài khoản">
    </div>
  </div>
    <div >
      <label for="new_password" >Mật khẩu</label>
      <div  >
         <input type="password" id="new_password" placeholder="********">
      </div>
    </div>
    <div >
      <label for="new_Re_password"  >Nhập lại mật khẩu</label>
      <div >
         <input type="password"   id="new_Re_password" placeholder="********">
      </div>
    </div>
    <div>
      <input type="checkbox"> Tôi đồng ý với các <a href="#"> điều khoản </a> đã nêu của Minder
    </div>
    <div  >
      <div  >
        <button type="submit"   ng-click="RegisterWithMinder()">Đăng kí</button>

      </div>
    </div>
</form>