<form>
  <h1> Đăng kí tài khoản mới</h1>
  <div class="form-group">
    <label for="New_username" class="col-sm-2 control-label">Tên tài khoản</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="New_username" placeholder="Tên tài khoản">
    </div>
  </div>
    <div class="form-group">
      <label for="new_password" class="col-sm-2 control-label">Mật khẩu</label>
      <div class="col-sm-10">
         <input type="password" class="form-control" id="new_password" placeholder="********">
      </div>
    </div>
    <div class="form-group">
      <label for="new_Re_password" class="col-sm-2 control-label">Nhập lại mật khẩu</label>
      <div class="col-sm-10">
         <input type="password" class="form-control" id="new_Re_password" placeholder="********">
      </div>
    </div>
    <div>
      <input type="checkbox"> Tôi đồng ý với các <a href="#"> điều khoản </a> đã nêu của Minder
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default" ng-click="signinWithMinder()">Đăng kí</button>

      </div>
    </div>
</form>